$background-card: #ffffff;
$border-card: 1px solid #dddddd;
$border-radius-card: 5px;
$box-shadow-card: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-hover-card: 0 10px 20px rgba(0, 0, 0, 0.3);
$font-family-default: 'Roboto', sans-serif;

// Cores para tags
$tag-background-paisagem: #2a84fb;
$tag-background-pizza: #a2bf11;
$tag-background-flor: #ff2626;